<section class="container">
		<div class="row">
		<h3 class="center-align">Contácto</h3>
			<article class="col s6 offset-s3">
				<form method="POST" action="formulario-contacto.php">
					<div class="input-field">
						<i class="material-icons prefix"></i>
						<label for="nombre">Nombre</label>
						<input type="text" name="nombre" required>
					</div>

					<div class="input-field">
						<i class="material-icons prefix"></i>
						<label for="apellido">Apellido</label>
						<input type="text" name="apellido" required>
					</div>
					
					<div class="input-field">
						<i class="material-icons prefix"></i>
						<label for="email">Email</label>
						<input type="email" name="email" required>
					</div>

					<div class="input-field">
						<i class="material-icons prefix"></i>
						<label for="mensaje">Mensaje</label>
						<textarea name="mensaje" id="" rows="10" class="materialize-textarea"  length="140" required></textarea>
					</div>
					
					<p class="center-align">
						<button class="waves-effect waves-light btn" type="submit"><i class="material-icons right"></i>enviar</button>
					</p>

				</form>

			</article>
		</div>
  </section>
  <br><br><br><br><br><br><br><br><br>
  <footer class="page-footer light-blue">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Candelaria</h5>
            <p class="grey-text text-lighten-4">La Candelaria es la localidad número 17 del Distrito Capital de Bogotá, Capital de Colombia. Se encuentra en el centro oriente de la ciudad de Bogotá. Abarca el centro histórico de Bogotá. Allí se fundó la ciudad el 6 de agosto de 1538 y se construyó la primera iglesia. Alberga la Plaza de Bolívar, que tiene en su costado oriental la Catedral Primada de Colombia. Es además un importante centro turístico, educativo y comercial.
  
              </p>
  
  
          </div>
          <div class="col l3 s12">
              <h5 class="white-text">Autores</h5>
              <ul>
                <li>
                    <i class="material-icons">
                        person
                        </i>
                  <a class="white-text" href="#!">Jonathan Piensa Digital</a>
                </li>
                <li>
                    <i class="material-icons">
                        person
                        </i>
                  <a class="white-text" href="#!">Brayan Piensa Digital</a>
                </li>
                <li>
                    <i class="material-icons">
                        person
                        </i>
                  <a class="white-text" href="#!">Yeison Piensa Digital</a>
                </li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Contacto</h5>
              <ul>
                <li>
                    <i class="material-icons">
                        home
                        </i>
                  <a class="white-text" href="#!">Universidades Amgias</a>
                </li>
                <li>
                    <i class="material-icons">
                        call
                        </i>
                  <a class="white-text" href="#!">Telefono: 312122122</a>
                </li>
                <li>
                    <i class="material-icons">
                        alternate_email
                        </i>
                  <a class="white-text" href="#!">Correo: prueba@gm.com</a>
                </li>
                
              </ul>
            </div>
          </div>
        <div class="footer-copyright">
          Trabajo Piensa Digital
        </div>
      </footer>