<div class="section no-pad-bot" id="index-banner">
<div class="container">
  <br>
  <br>
  <h1 class="header center black-text">Universidades Asociadas</h1>
  <div class="row center">
    <h5 class="header col s12">Estan son las Universidades que ayudan a las personas en su desarrollo y conocimiento</h5>
  </div>
  <div class="row ">
    <div class="col s12 m6 l3">
      <a href="http://www.ucentral.edu.co/" target="_blank" class="btn-large waves-effect waves-light blue">Universidad Central</a>

    </div>
    <div class="col s12 m6 l3">
      <a href="http://www.unilibre.edu.co/" target="_blank" class="btn-large waves-effect waves-light blue">Universidad Libre</a>
    </div>
    <div class="col s12 m6 l3">
      <a href="http://unal.edu.co/" target="_blank" class="btn-large waves-effect waves-light blue">Universidad Nacional</a>
    </div>
    <div class="col s12 m6 l3">
      <a href="http://www.fuac.edu.co/aspirantes" target="_blank" class="btn-large waves-effect waves-light blue">Universidad Autonoma</a>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="section">

  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text">
          <i class="material-icons"></i>
        </h2>
        <h5 class="center">Misión</h5>

        <p class="light" style="text-align: justify;">Brindar servicios de tutoria en diferentes areas academicas a toda persona habitante de la localidad.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text">
          <i class="material-icons"></i>
        </h2>
        <h5 class="center">Visión</h5>

        <p class="light" style="text-align: justify;">Aprovechar el conocimiento y capacidades de los estudiantes de las instituciones educativas para generar proyectos
          sociales que generen cambios significativos en la estructura social del territorio. </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text">
          <i class="material-icons"></i>
        </h2>
        <h5 class="center">Proyecto</h5>

        <p class="light" style="text-align: justify;">Por medio de la plataforma las personas podrán ponerse en contacto con estudiantes universitarios que estén dispuestos
          a colaborarles ya sea de manera virtual o presencial, mostrando las bibliotecas o universidades más cercanas
          donde puedan encontrar la ayuda que necesitan. Para los estudiantes universitarios que presten su ayuda a la
          comunidad, se llegaría a un acuerdo con las universidades para ofrecerles a los estudiantes algunos beneficios
          por su retribución a la sociedad, esto con la finalidad de motivar la prestación de este servicio social. .
        </p>
      </div>
    </div>
  </div>

</div>
<br>
<br>
</div>

<footer class="page-footer light-blue">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Candelaria</h5>
      <p class="grey-text text-lighten-4">La Candelaria es la localidad número 17 del Distrito Capital de Bogotá, Capital de Colombia. Se encuentra en el
        centro oriente de la ciudad de Bogotá. Abarca el centro histórico de Bogotá. Allí se fundó la ciudad el 6 de
        agosto de 1538 y se construyó la primera iglesia. Alberga la Plaza de Bolívar, que tiene en su costado oriental
        la Catedral Primada de Colombia. Es además un importante centro turístico, educativo y comercial.

      </p>


    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Autores</h5>
      <ul>
        <li>
          <i class="material-icons">
            person
          </i>
          <a class="white-text" href="#!">Jonathan Piensa Digital</a>
        </li>
        <li>
          <i class="material-icons">
            person
          </i>
          <a class="white-text" href="#!">Brayan Piensa Digital</a>
        </li>
        <li>
          <i class="material-icons">
            person
          </i>
          <a class="white-text" href="#!">Yeison Piensa Digital</a>
        </li>
      </ul>
    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Contácto</h5>
      <ul>
        <li>
          <i class="material-icons">
            home
          </i>
          <a class="white-text" href="#!">Universidades Amgias</a>
        </li>
        <li>
          <i class="material-icons">
            call
          </i>
          <a class="white-text" href="#!">Telefono: 312122122</a>
        </li>
        <li>
          <i class="material-icons">
            alternate_email
          </i>
          <a class="white-text" href="#!">Correo: prueba@gm.com</a>
        </li>

      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  Trabajo Piensa Digital
</div>
</footer>
